{
   "presets": [
        "@babel/present-env",
        {
            "targets": {
                 "node": true
            }
        }
    ],
    "plugins": [
        ["@babel/transform-runtime"]
    ]
}